<?xml version='1.0' encoding='utf-8'?>
<widget id="com.birrgo.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Birr Go</name>
    <description>BirrGo Mobile Wallet</description>
    <author email="support@birrgo.com">BirrGo Team</author>
    
    <!-- Changed from index.html to your live GitHub Pages URL -->
    <content src="https://birrgo1.github.io" />
    
    <!-- Crucial rules to keep the website running smoothly inside the app -->
    <access origin="*" />
    <allow-navigation href="https://birrgo1.github.io/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="icon.png" />
    
    <platform name="android">
        <icon src="icon.png" />
    </platform>
</widget>
