<?xml version='1.0' encoding='utf-8'?>
<widget id="com.birrgo.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Birr Go</name>
    <description>BirrGo Mobile Wallet</description>
    <author email="support@birrgo.com">BirrGo Team</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="icon.png" />
    
    <platform name="android">
        <icon src="icon.png" />
    </platform>
</widget>
